*filter
:INPUT DROP [0:0]
# INPUT only (see host.v4.rules.j2). The ICMPv6/NDP block below is REQUIRED:
# without it the INPUT DROP policy silently breaks all IPv6 (NDP is filtered).
-A INPUT -m conntrack --ctstate INVALID -j DROP
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type destination-unreachable -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type packet-too-big -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type time-exceeded -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type parameter-problem -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type echo-request -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type echo-reply -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type router-solicitation -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type router-advertisement -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type neighbour-solicitation -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type neighbour-advertisement -m hl --hl-eq 255 -j ACCEPT
{% for cidr in firewall_management_networks_v6 | default([]) %}
-A INPUT -s {{ cidr }} -j ACCEPT
{% endfor %}
{% if firewall_ssh_ratelimit_enabled | bool %}
# --mask /64: rate-limit per /64 (a typical single IPv6 allocation), else an attacker
# rotates addresses within their /64 to get a fresh bucket each time and bypass the throttle.
-A INPUT -p tcp --dport {{ ssh_port }} -m recent --name ssh --mask ffff:ffff:ffff:ffff:: --rcheck --seconds {{ firewall_ssh_ratelimit_seconds }} --hitcount {{ firewall_ssh_ratelimit_hits }} -j DROP
-A INPUT -p tcp --dport {{ ssh_port }} -m recent --name ssh --mask ffff:ffff:ffff:ffff:: --set -j ACCEPT
{% else %}
-A INPUT -p tcp --dport {{ ssh_port }} -j ACCEPT
{% endif %}
{% for port in firewall_whitelist_ports_v6 | default([]) %}
-A INPUT -p tcp --dport {{ port }} -j ACCEPT
{% endfor %}
-A INPUT -j DROP
COMMIT
