*filter
:INPUT  DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

:DOCKER-USER -  [0:0]

############ INPUT ############
# 1. drop invalid
-A INPUT -m conntrack --ctstate INVALID -j DROP

# 2. EST/REL
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# 3. loopback
-A INPUT -i lo -j ACCEPT

# 4. SSH rate-limit
# -- UPDATE / DROP
-A INPUT -p tcp --dport {{ ssh_port }} -m recent --name ssh --update --seconds 60 --hitcount 6 -j DROP
# -- SET / ACCEPT
-A INPUT -p tcp --dport {{ ssh_port }} -m recent --name ssh --set -j ACCEPT

# 5. management nets
{% for cidr in firewall_management_networks_v4|default([]) %}
-A INPUT -s {{ cidr }} -j ACCEPT
{% endfor %}

# 6. whitelisted ports
{% for port in firewall_whitelist_ports_v4|default([]) %}
-A INPUT -p tcp --dport {{ port }} -j ACCEPT
{% endfor %}

# 7. drop all other traffic
-A INPUT -j DROP

############ DOCKER-USER ############
# 1. EST/REL
-A DOCKER-USER -m conntrack --ctstate ESTABLISHED,RELATED -j RETURN

# 2. containers -> any (outbound access, cross-host, cross-network)
# note: DOCKER-ISOLATION will be applied after DOCKER-USER for same-network isolation, so that the cross-network traffic will be blocked
-A DOCKER-USER -i br+ -j RETURN

# 3. loopback -> Docker bridge (for cloudflared via 127.0.0.1)
-A DOCKER-USER -i lo -o br+ -j RETURN

# 4. drop all other traffic (block inbound)
-A DOCKER-USER -j DROP

COMMIT
